* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: #f3f9fa url("images/bg.png") repeat;
	font: 14px/22px Arial;
	color: #444;
}

a {
	color: #0083df;
}

a:hover {
	text-decoration: none;
}

h1 {
	font: normal 26px/26px Arial;
	margin-bottom: 20px;
}

h2 {
	font: normal 22px/22px Arial;
	margin-bottom: 20px;
}

h1,h2,h3 {
	color: black;
}

p {
	margin-bottom: 15px;
}

.green {
	color: #1d8b15;
}

.gray {
	color: #666;
}

#wrap {
	min-width: 980px;
	min-height: 100%;
	position: relative;
}

/*Шапка*/
#header {
	height: 148px;
	background: white url("images/bg-header.png") left top no-repeat;
}

#header .logo {
	margin-top: 51px;
	float: left;
}

#header .contacts {
	float: right;
	text-align: right;
	margin-top: 25px;
}

#header .contacts p {
	font: bold 18px/14px Arial;
	color: black;
}

#header .contacts p .green {
	font-size: 14px;
	font-weight: normal;
}

#header .contacts p .gray {
	font-size: 12px;
	font-weight: normal;
}

/*Навигация*/

#navigation{
	height: 43px;
	background: transparent url("images/bg-navigation.png") repeat-x;
	clear: both;
}

#navigation>ul {
	height: 40px;
}

#navigation>ul>li {
	float: left;
	border-right: 1px solid #444;
	position: relative;
	list-style-type: none;
}

#navigation>ul>li>a {
	font-weight: bold;
	line-height: 14px;
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	display: block;
	padding: 13px 28px;
	border-right: 1px solid #333;
	text-decoration: none;
}

#navigation>ul>li:first-child>a {
	padding-left: 29px;
}

#navigation>ul>li>a:hover,
#navigation>ul>li>a.active {
	background-color: #333;
	color: #76e16e;
}

/*Випадающее меню*/
#navigation>ul>li>ul {
	background-color: #333;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	overflow: hidden;
	position: absolute;
	top: 40px;
	width: 200px;
	display: none;
}

#navigation>ul>li:hover>ul {
	display: block;
}

#navigation>ul>li>ul>li {
	list-style-type: none;
}

#navigation>ul>li>ul>li>a {
	font-size: 12px;
	display: block;
	line-height: 12px;
	color: #eee;
	padding: 10px 28px;
	border-top: 1px solid #444;
	text-decoration: none;
}

#navigation>ul>li>ul>li>a:hover {
	background-color: #222;
}

/*Контент*/
#content {
	padding-bottom: 50px;
	overflow: hidden;
	clear: both;
	margin-top: 30px;
}

/*Левая колонка*/

#leftcol {
	width: 20%;
	float: left;
}

#main {
	overflow: hidden;
}

/*Подвал*/
#footer {
	height: 72px;
	background-color: white;
	border-top: 3px solid #ddd;
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footer .left {
	float: left;
	margin-top: 29px;
	font-size: 12px;
	line-height: 12px;
}

#footer .left span {
	margin-right: 97px;
}

#footer .left a {
	text-decoration: none;
	font-weight: bold;
}

#footer .left a+a {
	margin-left: 17px;
}

#footer .count {
	float: right;
	margin-top: 19px;
}

.content {
	padding: 0 29px;
}