* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: #f3f9fa url("images/bg.png") repeat;
	font: 14px/22px Arial;
	color: #444;
}

a {
	color: #0083df;
}

a:hover {
	text-decoration: none;
}

h1 {
	font: normal 26px/26px Arial;
	margin-bottom: 20px;
}

h2 {
	font: normal 22px/22px Arial;
	margin-bottom: 20px;
}

h1,h2,h3 {
	color: black;
}

p {
	margin-bottom: 15px;
}

#wrap {
	min-width: 980px;
	min-height: 100%;
	position: relative;
}

/*Шапка*/
#header {
	height: 100px;
}

/*Контент*/
#content {
	padding-bottom: 50px;
	overflow: hidden;
}

/*Левая колонка*/

#leftcol {
	width: 20%;
	float: left;
}

#main {
	overflow: hidden;
}

/*Подвал*/
#footer {
	height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.content {
	padding: 0 29px;
}